#text-overlay {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.1); /* Center and apply scaling */
    font-size: 60px;
    font-family: "Cinzel", fantasy;
    color: skyblue;
    text-shadow: 
    
        1px 1px 0px #bc3e3e,  
        -1px -1px 0px #7e9fff,  
        1px -1px 0px #00b4a5,  
        -1px 1px 0px #bfff00, 
        0px 0px 5px rgba(200, 0, 255, 0.2),  /* outer shadow */
        0px 0px 10px rgb(0, 106, 164);  /* outer glow */
    letter-spacing: 3px;
    text-shadow: 
        inset 0px 1px 3px rgba(21, 84, 221, 0.5);
    filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.3));
}

